body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  height: 100px;
  background: gray;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

ul,
li {
  list-style: none;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}
.form {
  display: flex;
  width: 100%;
}
.form input {
  width: 95%;
  flex: 1;
  height: 35px;
  margin-right: 5px;
}
.form button {
  cursor: pointer;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  padding: 0;
}
.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid gray;
  margin-top: 10px;
  border-radius: 2px;
}
.delete {
  background: red;
  color: white;
  border: 1px solid red;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.edit {
  background-color: #e7e7e7;
  color: black;
  border-radius: 3px;
  border: none;
  padding: 7px;
  cursor: pointer;
}
